# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env*.local
.env.development
.env.staging
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
/prisma/*.db
/prisma/*.db-journal

# IDE
.idea/
.vscode/
*.swp
*.swo

# public media assets
/public/media/flags/
/public/media/file-types/
/public/media/brand-logos/
/public/media/avatars/
/public/media/banners/
/public/media/app
.env*
